- content_for :breadcrumb do
  %ol.breadcrumb
    %li= link_to_empty 'Team Management'
    %li= link_to 'Teams', admin_languages_path
    %li= link_to @language.full_name, admin_language_path(@language)
    %li= link_to 'Edit', edit_admin_language_path(@language)

%h3= @language.full_name

%ul.nav.nav-tabs
  = tab_for 'details' do
    = link_to 'Details', edit_admin_language_path(@language, tab: :details)
  = tab_for 'team' do
    = link_to edit_admin_language_path(@language, tab: :team) do
      #{@language.english_name} Team &nbsp;&nbsp;
      %span.badge= @language.users.count

#language_content.tab-content
  = render "admin/languages/tabs/#{@tab}", language: @language
