%h3
  = link_to admin_settings_path do
    %i.fa.fa-angle-left
    Language Sections
    %span.badge #{@languages.count}

  - if current_user.admin?
    .pull-right
      = render 'shared/add_new_button', url: new_admin_language_path, remote: false

%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Code
      %th Name
      %th Name in English
      %th Encoding
      %th # Members
  %tbody
    - @languages.each do |language|
      %tr
        %td= language.iso_code
        %td= language.name
        %td= link_to language.english_name, admin_language_path(language)
        %td= language.encoding
        %td= language.users.count
