- content_for :breadcrumb do
  %ol.breadcrumb
    %li= link_to_empty 'Team Management'
    %li= link_to 'Teams', admin_languages_path
    %li= link_to 'Add New Team', new_admin_language_path

%h3 New Team

%ul.nav.nav-tabs
  = tab_for 'details' do
    = link_to 'Details', new_admin_language_path

#language_content.tab-content
  = render "admin/languages/tabs/#{@tab}", language: @language
