%h3
  = link_to admin_languages_path do
    %i.fa.fa-angle-left
    = @language.full_name

  - if current_user.admin? || current_user.manager?(@language.id)
    = link_to edit_admin_language_path(@language), class: 'pull-right btn btn-primary btn-sm' do
      %i.fa.fa-edit
      Edit

.panel.panel-default
  .panel-body
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th Code
          %th Name
          %th English Name
          %th Encoding
          %th Active
      %tbody
        %tr
          %td= @language.iso_code
          %td= @language.name
          %td= @language.english_name
          %td= @language.encoding
          %td
            - if @language.is_active?
              %i.fa.fa-check

            - if current_user.admin?
              = render 'shared/changes_url', url: changes_admin_language_path(@language)

    - if @language.notes.present?
      .row
        %h3.col-xs-12 Notes
        %p.col-xs-12= @language.notes

    .row
      %h3.col-xs-12 Team
      - LanguageUser::ROLES.each do |role|
        .col-sm-4.col-xs-12
          - users = language_users_sorted(@language, role)
          %h4 #{role.to_s.pluralize.upcase}
          - users.each do |language_user|
            %p
              = link_to language_user.user.name, admin_user_path(language_user.user_id)
          - if users.empty?
            %p= '-'

    - open_tasks = @language.general_menu_actions.open.list_order.includes([:user, :task, :general_menu])
    - if open_tasks.count > 0
      %h3
        Tasks in Progress
        %span.badge= open_tasks.count

      %table.table.table-striped.table-bordered
        %thead
          %tr
            %th Task
            %th Started
            %th By Whom
            %th Article
        %tbody
          - open_tasks.each do |task|
            %tr
              %td= task.task.title
              %td= task.start_date
              %td
                - if task.user_id.present?
                  = link_to task.user.name, admin_user_path(task.user_id)
                - else
                  = task.name
              %td= link_to task.general_menu.name, language_general_menu_path(task.language_id, task.general_menu_id)
