.row
  .col-xs-12
    = render 'shared/roles_info'

.row
  - LanguageUser::ROLES.each do |role|
    .col-sm-4.col-xs-12
      - users = language_users_sorted(language, role)
      = link_to new_admin_language_team_path(language.id, role: role), class: 'pull-left btn btn-primary btn-xs', remote: true, title: "Add #{role}" do
        %i.fa.fa-plus-circle
      %h4{style: 'margin-top: 2px;'} &nbsp; #{role.to_s.pluralize.upcase}

      - users.each_with_index do |language_user, idx|
        %p
          = link_to admin_language_team_path(language.id, language_user.id), method: :delete, class: 'btn btn-xs', data: {confirm: 'Are you sure?'} do
            %i.fa.fa-times-circle.text-danger
          = link_to language_user.user.name, admin_user_path(language_user.user_id)
