.row
  .col-xs-12
    %h4
      .pull-right.inline
        = render 'shared/add_new_button', url: new_admin_import_path, remote: false, title: 'Start new import'
      HISTORY OF GLOSSARY IMPORTS
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th Glossary Type
          %th Language
          %th Created By
          %th Committed By
      %tbody
        - Import.where(language_id: current_user.manager_language_ids).list_order.includes([:language, :glossary_type, :user, :committer]).each do |import|
          %tr
            %td= import.glossary_type.name
            %td= import.language.english_name
            %td
              = import.user.name
              .small= date_and_time_format(import.created_at)
            %td
              = import.committer.try(:name)
              .small= date_and_time_format(import.committed_at)

