%h3{style: "#{EmailHelper.h3_style}"} PASSWORD RESET
%p{style: 'font-size:16px; font-weight:100;'}
  = @user.name.upcase

%p{style: "#{EmailHelper.p_style}"}
  Please follow the link below to reset your password.
  %br/
  %br/
  If you are having trouble, copy and paste the entire link into your browser.

%p{style: "#{EmailHelper.p_style} padding: 10px 0 20px;"}
  %a{href: "#{@confirm_url}", style: 'color: #333333;'}
    %span{style: 'color: #333333;'}= "#{@confirm_url}"
