%h3{style: "#{EmailHelper.h3_style}"} WELCOME
%p{style: 'font-size:16px; font-weight:100;'}
  = @user.name.upcase

%p{style: "#{EmailHelper.p_style}"}
  Welcome to the Team Glossary!
  %br/
  %br/
  Please follow the link below to set your password.
  %br/
  If you are having trouble, copy and paste the entire link into your browser.

%p{style: "#{EmailHelper.p_style} padding: 10px 0 20px;"}
  %a{href: "#{@password_reset_url}", style: 'color: #333333;'}
    %span{style: 'color: #333333;'}= "#{@password_reset_url}"
