.modal-header
  %button{:type => 'button', 'data-dismiss' => 'modal', :class => 'close', 'aria-hidden' => true}= '&times;'.html_safe
  %h4
    #{@language.english_name} Team Comments
.modal-body
  .row
    .col-xs-12
      You are about to add comment for
      = link_to @commentable.term, show_glossary_term_url_helper(@language, @commentable)
      %br/
      %br/
  .row
    .col-xs-12
      = form_for [@language, @comment], html: {class: 'form-vertical', remote: true} do |f|
        .alert.alert-danger.hide
        %fieldset
          = hidden_field_tag :commentable_type, @commentable.class.to_s
          = hidden_field_tag :commentable_id, @commentable.id
          = hidden_field_tag :show_comments, @show_comments

          - if !@comment.new_record? && current_user.admin?
            .form-group.row
              %label.col-sm-12.control-label Move to Team
              .col-sm-12
                = select_tag :new_language_id, active_language_options(@language.id), class: 'form-control', autocomplete: 'off'

          .form-group.row
            %label.col-sm-12.control-label
              - if @language.is_base_language?
                Please write in #{@language.english_name}
              - else
                Please write in #{base_language.english_name} or in #{@language.english_name}, so #{@language.english_name} Team can understand you
            .col-sm-12
              = f.text_area :text, class: 'form-control', rows: 3, autocomplete: 'off', placeholder: 'Add your comment here', required: true, disabled: !@comment.new_record?

          .form-group.row
            .col-sm-12.text-right
              = f.submit 'Save Comment', class: 'btn btn-primary btn-sm'
  - if @show_comments
    .row
      .col-xs-12
        = render 'shared/term_comments', language: @language, term: @commentable




