= form_for [language, glossary_title, glossary_title_translation], html: {class: 'form-horizontal well'} do |f|
  .form-group
    %h4 TERM TRANSLATION
    .col-sm-9.col-sm-offset-3
      = f.text_field :term, class: 'form-control', autocomplete: 'off', placeholder: 'Term Translation'
    %label.col-sm-3.control-label Alternative
    .col-sm-9
      = f.text_field :alt_term1, class: 'form-control', autocomplete: 'off', placeholder: 'Alternative Translation'
    %label.col-sm-3.control-label Alternative
    .col-sm-9
      = f.text_field :alt_term2, class: 'form-control', autocomplete: 'off', placeholder: 'Alternative Translation'
    %label.col-sm-3.control-label Alternative
    .col-sm-9
      = f.text_field :alt_term3, class: 'form-control', autocomplete: 'off', placeholder: 'Alternative Translation'

  .form-group
    %h4 AUTHOR
    .col-sm-12
      = f.text_field :author, class: 'form-control', autocomplete: 'off', placeholder: 'Author'

  .form-group
    %h4 NOTES
    .col-sm-12
      = f.text_area :notes, class: 'form-control', rows: 5, autocomplete: 'off', placeholder: 'Notes'


  .form-group
    %h4 STATUS
    %label.col-sm-3.control-label Integration
    .col-sm-9
      = f.select :integration_status_id, model_to_select(IntegrationStatus, glossary_title_translation.integration_status_id), {}, {class: 'form-control', autocomplete: 'off'}

  .form-group
    .col-sm-12.text-right
      - if glossary_title_translation.new_record?
        = link_to 'Cancel', root_path, class: 'btn btn-default'
      - else
        = link_to_empty 'Cancel', {class: 'btn btn-default', id: :cancel_term_translation_edit}
      = f.submit 'Save Changes', class: 'btn btn-primary'
