%h3
  = link_to admin_settings_path do
    %i.fa.fa-angle-left
    General Statuses
    %span.badge #{@general_statuses.count}

  - if current_user.admin?
    .pull-right
      = render 'shared/add_new_button', url: new_admin_general_status_path, remote: true

- show_changes = current_user.admin?
%table.table.table-striped.table-bordered
  %thead
    %tr
      %th.text-center{width: 30} Code
      %th Name
      %th Description
      %th.text-center Default
      %th.text-center Private
      - if show_changes
        %th
  %tbody
    - show_changes = current_user.admin?
    - @general_statuses.each do |general_status|
      %tr
        %td.text-center
          = general_status.code
        %td
          - if current_user.admin?
            = link_to general_status.name, edit_admin_general_status_path(general_status), remote: true
          - else
            = general_status.name
        %td= general_status.description
        %td.text-center
          - if general_status.is_default
            %i.fa.fa-check
        %td.text-center
          - if general_status.is_private
            %i.fa.fa-check
        - if show_changes
          %td
            = render 'shared/changes_url', url: changes_admin_general_status_path(general_status)
