%table.table.table-striped.table-bordered
  %tbody
    %tr
      %th.col-xs-4 Title
      %td.col-xs-8
        = link_to item.name, language_general_menu_path(item.language, item), remote: request.xhr?
    %tr
      %th.col-xs-4 New Site Title
      %td.col-xs-8
        = item.new_name.presence || item.name
    %tr
      %th Type
      %td= item.item_type_name
    - if item.length_type.present?
      %tr
        %th Length
        %td= item.length_type

    - if item.additional_text.present?
      %tr
        %th Additional text
        %td
          - if request.xhr?
            %bdi= truncate(item.additional_text, length: 250, omission: ' ... (more)')
          - else
            %bdi= item.additional_text

    %tr
      %th CMS
      %td
        - if item.synchronized?
          %i.fa.fa-check.text-success
          (synchronized)

        %p
          %br/
          %small
            = (item.full_cms_path.presence || item.cms_name).gsub('/', '/ ')

        - if item.cms_updated.present?
          %p
            %br/
            %small last update: #{item.cms_updated}
    %tr
      %th Online
      %td= item.online

    - if item.wiki_qa.present?
      %tr
        %th Wiki Q&A
        %td= link_to 'go to wiki', item.wiki_qa, target: '_blank'


%h4.title NAVIGATION
%table.table.table-striped.table-bordered
  %tbody
    %tr
      %th.col-xs-4 Parent
      %td
        - if item.general_menu_id.present?
          - parent = item.general_menu
          %i.fa.text-primary{class: parent.fa_icon, title: parent.item_type_name}
          = link_to parent.name, language_general_menu_path(language, parent), remote: request.xhr?
          %br/
          %small
            = (parent.full_cms_path.presence || parent.cms_name).gsub('/', '/ ')
        - else
          has no parent item

    %tr
      %th.col-xs-4 Children
      %td
        - children = item.children(item.language)
        - if children.empty?
          has no child items
        - else
          %ul.list-unstyled
            - children.each do |child|
              %li
                %i.fa.text-primary{class: child.fa_icon, title: child.item_type_name}
                = link_to child.name, language_general_menu_path(language, child), remote: request.xhr?
                %small (#{child.cms_name})
