%table.table.table-striped.table-bordered
  %tbody
    %tr
      %th.col-xs-4 Translation
      %td.col-xs-8
        = link_to translation.term, language_general_menu_path(language, item), remote: request.xhr?
    %tr
      %th.col-xs-4 New Site Translation
      %td.col-xs-8
        = translation.new_name.presence || translation.name
    %tr
      %th CMS
      %td
        - if translation.synchronized?
          %i.fa.fa-check.text-success
          (synchronized)

        - if translation.cms_updated.present?
          %p
            %br/
            %small last update: #{translation.cms_updated}

    - if translation.additional_text.present?
      %tr
        %th Additional text
        %td
          - if request.xhr?
            %bdi= truncate(translation.additional_text, length: 250, omission: ' ... (more)')
          - else
            %bdi= translation.additional_text
    %tr
      %th Notes
      %td
        - if request.xhr?
          %bdi= truncate(translation.notes, length: 250, omission: ' ... (more)')
        - else
          %bdi= translation.notes
    %tr
      %th Online
      %td= translation.online
