%h3 Import

%ul.nav.nav-tabs
  = tab_for 'glossary' do
    = link_to 'Glossary', admin_imports_path(tab: :glossary)
  - if current_user.admin?
    = tab_for 'general_menu' do
      = link_to 'General Menu', admin_imports_path(tab: :general_menu)
    = tab_for 'hopkins' do
      = link_to 'Jefrey Hopkins', admin_imports_path(tab: :hopkins)

#import_content.tab-content
  = render "admin/imports/tabs/#{@tab}"
