= render 'shared/term_alerts', language: language, term: item

.col-sm-6.col-xs-12
  %h5
    TERM DETAILS
  %table.table.table-striped.table-hover
    %tbody
      %tr
        %th Term
        %td
          = link_to item.term, language_glossary_name_path(item.language, item), remote: request.xhr?
      %tr
        %th Type
        %td= item.proper_name_type.name
      %tr
        %th Dates
        %td= item.dates
      %tr
        %th Tibetan
        %td= item.tibetan
      %tr
        %th Sanskrit
        %td= item.sanskrit
      %tr
        %th Wage-Giles
        %td= item.wade_giles
      %tr
        %th Explanation
        %td= item.explanation

.col-sm-6.col-xs-12
  - unless language.is_base_language?
    - translation = item.glossary_name_translations.by_language(language.id).first
    - translation ||= GlossaryNameTranslation.new
    %h5= "TRANSLATION (#{language.full_name})"
    %table.table.table-striped.table-hover
      %tbody
        %tr
          %th Translation
          %td
            = link_to translation.term, language_glossary_name_path(language, item), remote: request.xhr?
            - [:alt_term1, :alt_term2, :alt_term3].each do |field|
              - next unless translation[field].present?
              %br/
              = translation[field]
        %tr
          %th Notes
          %td= translation.notes

  - unless item.is_private?
    - translations = item.glossary_name_translations.except_language(language.id).includes([:language]).sort{|x,y| x.language.iso_code <=> y.language.iso_code}
    - unless translations.empty?
      %h5= language.is_base_language? ? 'TRANSLATIONS' : 'OTHER TRANSLATIONS'
      %table.table.table-striped.table-hover
        %tbody
          - translations.each do |translation|
            %tr
              %th= translation.language.english_name
              %td= link_to translation.term, language_glossary_name_path(translation.language_id, item), remote: request.xhr?

- if request.xhr?
  .col-xs-12.text-right
    = link_to 'More details...', language_glossary_name_path(language, item)
- else
  .col-xs-12
    = render 'shared/term_comments', language: language, term: item


