- can_edit_language_glossary = can_edit_language_glossary?(item.language_id)
%table.table.table-striped.table-bordered
  %tbody
    %tr
      %th.col-xs-4 Term
      %td{style: bottom_link_style_helper(!request.xhr? && can_edit_language_glossary)}
        = link_to item.term, language_glossary_name_path(item.language, item), remote: request.xhr?

        - if !request.xhr? && can_edit_language_glossary && item.has_no_transaltion?
          .div{style: 'position: absolute; bottom: 0; right: 8px;'}
            = link_to language_glossary_name_path(language, item), method: :delete, class: 'text-muted delete_link', data: {confirm: 'Are you sure you want delete this term?'} do
              %small
                %i.fa.fa-times-circle
                delete term
    %tr
      %th Type
      %td= item.proper_name_type.name
    %tr
      %th Dates
      %td= item.dates
    %tr
      %th Tibetan
      %td= item.tibetan
    %tr
      %th Sanskrit
      %td= item.sanskrit
    %tr
      %th Explanation
      %td= item.explanation

- if can_edit_language_glossary
  %h4.title STATUS
  %table.table.table-striped.table-bordered
    %tbody
      %tr
        %th Integration
        %td
          = item.integration_status.name
