- if !request.xhr? && current_user.team?(language.id)
  .pull-right
    = render 'shared/add_new_button', url: new_language_comment_path(language, commentable_type: term.class.to_s, commentable_id: term.id, show_comments: false), remote: true, title: 'Add comment'

%h4.title
  COMMENTS
  %small.text-primary (#{language.full_name})

- comments = term.comments.by_language(language.id).includes([:user]).list_order
- if comments.empty?
  no comments yet
- else
  %table.table.table-striped.table-bordered
    %thead
      %tr.active
        %td Date (UTC)
        %td Comment
        %td By
    %tbody
      - can_edit_language = manager_or_editor_language_ids.include?(language.id)
      - comments.each_with_index do |comment, idx|
        %tr
          %td.col-xs-2
            %small= date_and_time_format(comment.created_at)
          %td
            %bdi= simple_format(comment.text, {}, sanitize: true)
          %td.col-xs-2
            = comment.user.name
            - if can_edit_language || (idx == 0 && comment.user_id == current_user.try(:id))
              %small.pull-right
                = link_to language_comment_path(language, comment), method: :delete, class: 'text-muted delete_link', remote: true, data: {confirm: 'Are you sure you want delete this comment?'} do
                  %i.fa.fa-times-circle
