.row
  .col-xs-12.col-sm-12.col-md-10.col-lg-10.col-md-offset-1.col-lg-offset-1
    %h3
      = link_to root_path do
        %i.fa.fa-angle-left
        = item.term

    .panel.panel-default
      .panel-body.special-border
        = render 'shared/term_alerts', language: language, term: item
        .row
          .col-sm-6.col-xs-12
            = render 'shared/term_show_term', language: language, item: item
          .col-sm-6.col-xs-12
            = render 'shared/term_show_translation', language: language, item: item

- if current_user
  .row
    .col-xs-12.col-sm-12.col-md-10.col-lg-10.col-md-offset-1.col-lg-offset-1
      = render 'shared/term_comments', language: language, term: item
