- if poposed_item?(language, term)
  .col-xs-12
    .panel.panel-default
      .panel-body
        %i.fa.fa-warning.text-warning
        Termin proposed to the Main glossary by #{term.language.english_name} team

        - if !request.xhr? && can_edit_language_glossary?(base_language.id)

          = link_to reject_glossary_item_url_helper(language, term), method: :put, class: 'pull-right btn btn-danger btn-xs', style: 'margin-left: 10px;', data: {confirm: "Are you sure? This term will became private to #{term.language.english_name} glossary and all others that did translation for the term. Check Other Translations section below."} do
            %i.fa.fa-times
            Reject

          = link_to approve_glossary_item_url_helper(language, term), method: :put, class: 'pull-right btn btn-success btn-xs', data: {confirm: "Are you sure? This term will became part of the #{base_language.english_name} glossary."} do
            %i.fa.fa-check
            Approve

- if term.is_private?
  .col-xs-12
    .panel.panel-default
      .panel-body
        %i.fa.fa-eye.text-info
        This is a private term. Used by #{term.language.english_name} team only.
