- if poposed_item?(language, term) && manager_or_editor_language_ids.include?(base_language.id)
  %h4.title APPROVE / REJECT
  %table.table.table-striped.table-bordered
    %tbody
      %tr
        %td
          Proposed to the Main glossary by #{term.language.english_name} team

          - if term.rejected_because.present?
            %small
              %br/
              %br/
              %i.fa.fa-warning.text-danger
              %b Was once rejected with reason:
              %br/
              = term.rejected_because
      %tr
        %td
          = link_to reject_glossary_item_url_helper(language, term), method: :get, remote: true, class: 'pull-right btn btn-danger btn-xs', style: 'margin-left: 10px;' do
            %i.fa.fa-times
            Reject

          = link_to approve_glossary_item_url_helper(language, term), method: :put, class: 'pull-right btn btn-success btn-xs', data: {confirm: "Are you sure? This term will became part of the #{base_language.english_name} glossary."} do
            %i.fa.fa-check-square-o
            Approve

- if term.is_private? && manager_or_editor_language_ids.include?(term.language_id)
  - if term.language_id != base_language.id
    %h4.title PROPOSE
    %table.table.table-striped.table-bordered
      %tbody
        %tr
          %td
            Propose to the Main glossary

            - if term.rejected_because.present?
              %small
                %br/
                %br/
                %i.fa.fa-warning.text-danger
                %b Was once rejected with reason:
                %br/
                = term.rejected_because
        %tr
          %td
            = link_to propose_glossary_item_url_helper(language, term), method: :put, class: 'pull-right btn btn-info btn-xs', data: {confirm: "Are you sure?."} do
              %i.fa.fa-thumbs-o-up
              Propose
  - else
    %h4.title SHARE
    %table.table.table-striped.table-bordered
      %tbody
        %tr
          %td
            Share term with other languages (make term public)
        %tr
          %td
            = link_to propose_glossary_item_url_helper(language, term), method: :put, class: 'pull-right btn btn-info btn-xs', data: {confirm: "Are you sure?."} do
              %i.fa.fa-share-square-o
              Share
