.modal-header
  %button{:type => 'button', 'data-dismiss' => 'modal', :class => 'close', 'aria-hidden' => true}
    = '&times;'.html_safe
  %h4
    = item.term
.modal-body
  .row
    = render 'shared/term_alerts', language: language, term: item
    .col-sm-6.col-xs-12
      = render 'shared/term_show_term', language: language, item: item
    .col-sm-6.col-xs-12
      = render 'shared/term_show_translation', language: language, item: item

    .col-xs-12.text-right
      = link_to 'More details...', show_glossary_term_url_helper(language, item)
