- count = [true, !@language.is_base_language?, !@glossary_type.general_menu?].count(true)
- css_class = (count == 3) ? 'col-xs-4' : ((count == 2) ? 'col-xs-6' : 'col-xs-6 col-xs-offset-3')
- default_columns = @glossary_type.glossary_search_default_columns
- default_translation_columns = @glossary_type.glossary_search_default_translation_columns
%div{class: css_class}
  .checkbox
    %label
      = check_box_tag 'search[all_columns]', true, false, autocomplete: 'off'
      %b Term Fields:
  - @glossary_type.glossary_search_columns.each do |field|
    .checkbox
      %label
        = check_box_tag 'search[columns][]', field, @columns.include?(field), autocomplete: 'off', data: {default: default_columns.include?(field)}
        #{field.to_s.humanize}

- unless @language.is_base_language?
  %div{class: css_class}
    .checkbox
      %label
        = check_box_tag 'search[all_translation_columns]', true, false, autocomplete: 'off'
        %b Translation Fields:
    - @glossary_type.glossary_search_translation_columns.each do |field|
      .checkbox
        %label
          = check_box_tag 'search[translation_columns][]', field, @translation_columns.include?(field), autocomplete: 'off', data: {default: default_translation_columns.include?(field)}
          #{field.to_s.humanize}


- unless @glossary_type.general_menu?
  %div{class: css_class}
    .checkbox
      %label
        = check_box_tag 'search[all_states]', true, false, autocomplete: 'off'
        %b Include:
    - [:private, :public, :proposed].map(&:to_s).each do |state|
      .checkbox
        %label
          = check_box_tag 'search[states][]', state, @search_states.include?(state), autocomplete: 'off', data: {default: true}
          #{state.to_s.humanize}


:javascript
  $(function() {
    $.refreshAdvancedAllCheckboxes();
  });
