- edit_options = search_terms_display_options(@language)
.row
  .col-xs-12.col-sm-12.col-md-10.col-lg-10.col-md-offset-1.col-lg-offset-1
    %h4
      - if !@glossary_type.general_menu? && edit_options[:can_edit_language_glossary]
        .pull-right.inline
          = render 'shared/add_new_button', url: new_glossary_item_url_helper(@glossary_type, @language), remote: false

      - if current_user && !@glossary_type.general_menu?
        .pull-right.inline
          %p
            = link_to download_path, class: 'text-muted download_link', target: '_blank' do
              %i.fa.fa-download
              Download as CSV

      - if @query.present? || !@glossary_type.general_menu?
        Found
        %span.badge #{@data.total_count}
.row
  .col-xs-12.col-sm-12.col-md-10.col-lg-10.col-md-offset-1.col-lg-offset-1
    %table.table.table-striped.table-bordered
      %thead
        %tr
          - if @language.is_base_language?
            %td.col-xs-12 Term
          - else
            %td.col-xs-6 Term
            %td.col-xs-6 Translation
      %tbody#terms_table
        - @data.each do |item|
          - edit_options[:item] = item
          = render "term_#{@glossary_type.code.downcase}", edit_options

        - if @data.empty?
          %tr
            %td.text-right{colspan: (@language.is_base_language? ? 2 : 3)}
              no terms found
    -# # = render 'shared/paginator', objects: @data, remote: true
.row
  .col-xs-12.col-sm-12.col-md-10.col-lg-10.col-md-offset-1.col-lg-offset-1
    .pagination.pagination-centered
      - params.clear
      = paginate @data, :params => {:controller => 'home', :action => 'index'}

:javascript
  #{ render :partial => 'infinitescroll.js' }
