- can_edit_glossary = current_user.manager_or_editor?(@language.id)
.row
  .col-xs-12
    %h2
      - if can_edit_glossary
        .pull-right.inline
          = render 'shared/add_new_button', url: new_glossary_item_url_helper(@glossary_type, @language), remote: false

      Found
      %span.badge #{@data.total_count}

    %table.table.table-striped.table-bordered
      %thead
        %tr
          - if @language.is_base_language?
            %td.col-xs-6 Term
            %td.col-xs-6 Last Comment
          - else
            %td.col-xs-4 Term
            %td.col-xs-4 Translation
            %td.col-xs-4 Last Comment
      %tbody
        - @data.each do |item|
          = render "term_#{@glossary_type.code.downcase}", item: item, language: @language, can_edit: can_edit_glossary

        - if @data.empty?
          %tr
            %td.text-right{colspan: (@language.is_base_language? ? 2 : 3)}
              no terms found
    = render 'shared/paginator', objects: @data, remote: true
