%tr
  %td{style: has_comment_style(base_language_team)}
    = render 'shared/term_marks', language: language, term: item

    %strong
      = link_to item.term, language_glossary_name_path(item.language, item), remote: true
    - if item.dates.present?
      (#{item.dates})
    - if item.explanation.present?
      %br/
      %br/
      = item.explanation

    - if base_language_team
      = render 'shared/term_add_comment', language: base_language, term: item

  - unless language.is_base_language?
    %td{style: has_comment_style(language_team)}
      - translation = item.glossary_name_translations.select{|t| t.language_id == language.id}.first
      - if translation.present?
        %strong
          = link_to translation.term, language_glossary_name_path(language, item), remote: true
        %i= translation.alternative_as_string
        - if translation.notes.present?
          %br/
          %br/
          = translation.notes
      - elsif can_edit_glossary
        .text-right
          = link_to language_glossary_name_path(language, item), class: 'text-muted' do
            %i.fa.fa-plus-circle
            add translation

      - if language_team
        = render 'shared/term_add_comment', language: language, term: item
