%tr.term_table_row
  %td{style: bottom_link_style_helper(base_language_team)}
    = render 'shared/term_marks', language: language, term: item

    %strong
      = link_to item.term, language_glossary_title_path(item.language, item), remote: true

    - if item.author.present?
      .text-left
        %i -- #{item.author}

    - if can_edit_base_language_glossary
      .text-right
        = link_to edit_language_glossary_title_path(language, item), class: 'text-muted' do
          %i.fa.fa-edit
          edit term

    - if item.explanation.present?
      %br/
      %br/
      = item.explanation

    - if base_language_team
      = render 'shared/term_add_comment', language: base_language, term: item

  - unless language.is_base_language?
    %td{style: bottom_link_style_helper(language_team)}
      - translation = item.glossary_title_translations.select{|t| t.language_id == language.id}.first
      - if translation.present?
        %strong
          = link_to translation.term, language_glossary_title_path(language, item), remote: true
        - if translation.author.present?
          .text-left
            %i -- #{translation.author}

        %br/
        %i= translation.alternative_as_string

        - if can_edit_language_glossary
          .text-right
            = link_to edit_language_glossary_title_glossary_title_translation_path(language, item, translation), class: 'text-muted' do
              %i.fa.fa-edit
              edit translation

        - if translation.notes.present?
          %br/
          %br/
          = translation.notes
      - elsif can_edit_language_glossary
        .text-right
          = link_to language_glossary_title_path(language, item), class: 'text-muted' do
            %i.fa.fa-plus-circle
            add translation

      - if language_team
        = render 'shared/term_add_comment', language: language, term: item
