%tr
  %td
    = render 'shared/term_marks', language: language, term: item

    %strong
      = link_to item.term, language_glossary_title_path(item.language, item), remote: true

    - if item.author.present?
      .text-left
        %i -- #{item.author}

    - if item.explanation.present?
      %br/
      %br/
      = item.explanation
  - unless language.is_base_language?
    %td
      - translation = item.glossary_title_translations.select{|t| t.language_id == language.id}.first
      - if translation.present?
        %strong
          = link_to translation.term, language_glossary_title_path(language, item), remote: true
        - if translation.author.present?
          .text-left
            %i -- #{translation.author}

        %br/
        %i= translation.alternative_as_string

        - if translation.notes.present?
          %br/
          %br/
          = translation.notes
  %td
    - last_comment = item.last_comment(language.id)
    - if last_comment.present?

      = last_comment.text
      .text-right
        %br/
        %i #{last_comment.user.name} (#{last_comment.created_at})
