- search_result = @query.present?
- level = item.level
- bottom_link = (manager_language_ids.include?(item.language_id) && !item.folder?)
%tr{class: "#{'term_table_row' if search_result}", id: "general_menu_row_#{item.id}", data: {parent: item.general_menu_id.to_i, id: item.id}}
  %td{style: general_menu_left_and_bottom_link_style_helper(level, item.folder?, bottom_link)}
    %strong
      = link_to item.name, language_general_menu_path(item.language, item), remote: true

    - if item.folder?
      .div{style: "position: absolute; top: 5px; left: #{8 * (level + 1) }px;"}
        = link_to open_language_general_menu_path(language, item), class: 'text-primary open_folder_link', remote: true do
          %i.fa.fa-folder-o
        = link_to 'javascript:void(0);', class: 'text-primary close_folder_link', style: 'display: none;' do
          %i.fa.fa-folder-open
    - else
      %br/
      %small
        %i.fa{class: item.fa_icon} &nbsp; #{item.cms_name}

    - if bottom_link
      = render 'shared/term_add_task', language: item.language, term: item

  - unless language.is_base_language?
    - bottom_link = (manager_language_ids.include?(language.id) && !item.folder?)
    %td{style: bottom_link_style_helper(bottom_link)}
      - translation = item.general_menu_translations.select{|t| t.language_id == language.id}.first
      - if translation.present?
        %strong
          = link_to translation.name, language_general_menu_path(language, item), remote: true
      - elsif manager_or_editor_language_ids.include?(language.id)
        .text-right
          = link_to language_general_menu_path(language, item), class: 'text-muted' do
            %i.fa.fa-plus-circle
            add translation

      - if bottom_link
        = render 'shared/term_add_task', language: language, term: item
