%tr
  %td
    = render 'shared/term_marks', language: language, term: item

    %strong
      = link_to item.term, language_glossary_term_path(item.language, item), remote: true

    - if item.definition.present?
      %br/
      %br/
      = item.definition


  - unless language.is_base_language?
    %td
      - translation = item.glossary_term_translations.select{|t| t.language_id == @language.id}.first
      - if translation.present?
        %strong
          = link_to translation.term, language_glossary_term_path(language, item), remote: true

        - if translation.definition.present?
          %br/
          %br/
          = translation.definition
      - elsif can_edit
        .text-right
          = link_to language_glossary_term_path(language, item), class: 'text-muted' do
            %i.fa.fa-plus-circle
            add translation
  %td
    = render 'shared/term_last_comment', language: language, term: item
