- item_language_team = team_ids.include?(item.language_id)
%tr.term_table_row
  %td{style: bottom_link_style_helper(item_language_team)}
    = render 'shared/term_marks', language: language, term: item

    - if manager_or_editor_language_ids.include?(item.language_id)
      .pull-right
        = link_to edit_language_glossary_title_path(language, item), class: 'text-muted' do
          %i.fa.fa-edit
          edit term

    %strong
      = link_to item.term, language_glossary_title_path(item.language, item), remote: true

    - alternatives = [item.alt_term1, item.alt_term2, item.popular_term].compact
    - if alternatives.length > 0
      %ul
        - alternatives.compact.each do |alt|
          - next unless alt.present?
          %li.small= alt

    - if item.author.present?
      .text-left
        %i -- #{item.author}

    - tibetan_text = [item.tibetan_full, item.tibetan_short].compact.join('; ')
    - if tibetan_text.present?
      %br/
      %small Tib: #{tibetan_text}

    - sanskrit_text = [item.sanskrit_full, item.sanskrit_short, item.sanskrit_full_diacrit, item.sanskrit_short_diacrit].compact.join('; ')
    - if sanskrit_text.present?
      %br/
      %small Skt: #{sanskrit_text}

    - if item.pali.present?
      %br/
      %small Pali: #{item.pali}

    - if item.explanation.present?
      %br/
      %br/
      = truncate(item.explanation, length: 250, omission: ' ... (more)')

    - if item_language_team
      = render 'shared/term_add_comment', language: item.language, term: item

  - unless language.is_base_language?
    - language_team = team_ids.include?(language.id)
    %td{style: bottom_link_style_helper(language_team)}
      - translation = item.glossary_title_translations.select{|t| t.language_id == language.id}.first
      - if translation.present?
        %strong
          = link_to translation.term, language_glossary_title_path(language, item), remote: true

        - alternatives = translation.alt_terms_as_array
        - if alternatives.compact.length > 0
          %ul
            - alternatives.compact.each do |alt|
              - next unless alt.present?
              %li.small= alt

        - if translation.author.present?
          .text-left
            %i -- #{translation.author}

        - if manager_or_editor_language_ids.include?(language.id)
          .text-right
            = link_to edit_language_glossary_title_glossary_title_translation_path(language, item, translation), class: 'text-muted' do
              %i.fa.fa-edit
              edit translation

        - if current_user && translation.notes.present?
          %br/
          %br/
          = truncate(translation.notes, length: 250, omission: ' ... (more)')

      - elsif manager_or_editor_language_ids.include?(language.id)
        .text-right
          = link_to language_glossary_title_path(language, item), class: 'text-muted' do
            %i.fa.fa-plus-circle
            add translation

      - if language_team
        = render 'shared/term_add_comment', language: language, term: item
