%tr
  %td
    = render 'shared/term_marks', language: language, term: item

    %strong
      = link_to item.term, language_glossary_name_path(item.language, item), remote: true
    - if item.dates.present?
      (#{item.dates})
    - if item.explanation.present?
      %br/
      %br/
      = item.explanation
  - unless language.is_base_language?
    %td
      - translation = item.glossary_name_translations.select{|t| t.language_id == language.id}.first
      - if translation.present?
        %strong
          = link_to translation.term, language_glossary_name_path(language, item), remote: true
        %i= translation.alternative_as_string
        - if translation.notes.present?
          %br/
          %br/
          = translation.notes
  %td
    = render 'shared/term_last_comment', language: language, term: item
