- item_language_team = team_ids.include?(item.language_id)
%tr.term_table_row
  %td{style: bottom_link_style_helper(item_language_team)}
    = render 'shared/term_marks', language: language, term: item

    - if manager_or_editor_language_ids.include?(item.language_id)
      .pull-right
        = link_to edit_language_glossary_term_path(language, item), class: 'text-muted' do
          %i.fa.fa-edit
          edit term

    %strong
      = link_to item.term, language_glossary_term_path(item.language, item), remote: true

    - tibetan_text = [item.tibetan, item.alternative_tibetan].compact.join('; ')
    - if tibetan_text.present?
      %br/
      %small (#{tibetan_text})

    - if item.definition.present?
      %br/
      %br/
      = truncate(item.definition, length: 250, omission: ' ... (more)')

    - if item_language_team
      = render 'shared/term_add_comment', language: item.language, term: item

  - unless language.is_base_language?
    - language_team = team_ids.include?(language.id)
    %td{style: bottom_link_style_helper(language_team)}
      - translation = item.glossary_term_translations.select{|t| t.language_id == @language.id}.first
      - if translation.present?
        %strong
          = link_to translation.term, language_glossary_term_path(language, item), remote: true

        - if manager_or_editor_language_ids.include?(language.id)
          .text-right
            = link_to edit_language_glossary_term_glossary_term_translation_path(language, item, translation), class: 'text-muted' do
              %i.fa.fa-edit
              edit translation

        - translation.alt_terms_as_array.each do |alt_term|
          - next unless alt_term.present?
          %br/
          %small= alt_term

        - if translation.definition.present?
          %br/
          %br/
          = truncate(translation.definition, length: 250, omission: ' ... (more)')

      - elsif manager_or_editor_language_ids.include?(language.id)
        .text-right
          = link_to language_glossary_term_path(language, item), class: 'text-muted' do
            %i.fa.fa-plus-circle
            add translation

      - if language_team
        = render 'shared/term_add_comment', language: language, term: item
