= form_for [:admin, proper_name_type], :html => {class: 'form-horizontal'}  do |f|
  .modal-header
    %button{:type => 'button', 'data-dismiss' => 'modal', :class => 'close', 'aria-hidden' => true}= '&times;'.html_safe
    %h3= proper_name_type.new_record? ? 'New Proper Name Type' : 'Edit Proper Name Type'

  .modal-body
    .alert.alert-danger.hide
    .row
      .col-sm-2
        %label.control-label Code
        = f.text_field :code, class: 'form-control', style: 'width:100%', autocomplete: 'off', maxlength: 3

      .col-sm-10
        %label.control-label Name
        = f.text_field :name, class: 'form-control', style: 'width:100%', autocomplete: 'off', maxlength: 100

    .row
      .col-sm-12
        %label.control-label Description
        = f.text_area :description, class: 'form-control', style: 'width:100%', autocomplete: 'off', maxlength: 2000

      .col-sm-6{style: 'margin-top: 20px;'}
        = f.check_box :is_default, autocomplete: 'off'
        = label_tag :is_default, 'Default'

      .col-sm-6{style: 'margin-top: 20px;'}
        = f.check_box :has_dates, autocomplete: 'off'
        = label_tag :has_dates, 'May have dates'
        %br/
        %span.help_text birth, death dates; foundation date; etc.

  .modal-footer
    %button#submit.btn.btn-primary Save changes

