%h2
  Proper Name Types
  %span.badge #{@proper_name_types.count}

  - if current_user.admin?
    .pull-right
      = render 'shared/add_new_button', url: new_admin_proper_name_type_path, remote: true

%table.table.table-striped.table-hover.table-bordered
  %thead
    %tr
      %th.text-center{width: 30} Code
      %th Name
      %th Description
      %th.text-center Default
  %tbody
    - show_changes = current_user.admin?
    - @proper_name_types.each do |proper_name_type|
      %tr
        %td.text-center= proper_name_type.code
        %td
          - if current_user.admin?
            = link_to proper_name_type.name, edit_admin_proper_name_type_path(proper_name_type), remote: true
          - else
            = proper_name_type.name
        %td= proper_name_type.description
        %td.text-center
          - if proper_name_type.is_default
            %i.fa.fa-check
          - if show_changes
            = link_to changes_admin_proper_name_type_path(proper_name_type), remote: true, class: 'pull-right' do
              %i.fa.fa-bars.text-muted
