%h3
  Proper Name Types
  %span.badge #{@proper_name_types.count}

  - if current_user.admin?
    .pull-right
      = render 'shared/add_new_button', url: new_admin_proper_name_type_path, remote: true

- show_changes = current_user.admin?
%table.table.table-striped.table-bordered
  %thead
    %tr
      %th.text-center{width: 30} Code
      %th Name
      %th Description
      %th.text-center Default
      - if show_changes
        %th
  %tbody
    - @proper_name_types.each do |proper_name_type|
      %tr
        %td.text-center= proper_name_type.code
        %td
          - if current_user.admin?
            = link_to proper_name_type.name, edit_admin_proper_name_type_path(proper_name_type), remote: true
          - else
            = proper_name_type.name
        %td= proper_name_type.description
        %td.text-center
          - if proper_name_type.is_default
            %i.fa.fa-check
        - if show_changes
          %td
            = render 'shared/changes_url', url: changes_admin_proper_name_type_path(proper_name_type)
