= render 'shared/term_alerts', language: language, term: item

.row-fluid
  .col-sm-6.col-xs-12
    - if !request.xhr? && current_user && current_user.manager_or_editor?(item.language_id)
      = link_to edit_language_glossary_title_path(language, item), class: 'pull-left btn btn-primary btn-xs', id: :edit_title_button, remote: true, title: "Edit term" do
        %i.fa.fa-edit
      = link_to 'javascript:void(0);', {class: 'pull-left btn btn-default btn-xs', id: :cancel_title_button, style: 'display: none;'} do
        %i.fa.fa-times

      = render 'shared/changes_url', url: changes_language_glossary_title_path(language, item)

    %h4{style: 'margin-top: 2px;'} &nbsp;  TERM DETAILS

    #title-container.clearfix
      = render 'term', language: language, item: item

  .col-sm-6.col-xs-12
    - unless language.is_base_language?
      - translation = item.glossary_title_translations.by_language(language.id).first
      - translation ||= GlossaryTitleTranslation.new_with_defaults

      - if !translation.new_record? && !request.xhr? && current_user && current_user.manager_or_editor?(language.id)
        - url = translation.new_record? ? new_language_glossary_title_glossary_title_translation_path(language, item) : edit_language_glossary_title_glossary_title_translation_path(language, item, translation)
        = link_to url, class: 'pull-left btn btn-primary btn-xs', id: :edit_title_translation_button, remote: true, title: "Edit translation" do
          %i.fa.fa-edit
        = link_to 'javascript:void(0);', {class: 'pull-left btn btn-default btn-xs', id: :cancel_title_translation_button, style: 'display: none;'} do
          %i.fa.fa-times

        = render 'shared/changes_url', url: changes_language_glossary_title_glossary_title_translation_path(language, item, translation)

      %h4{style: 'margin-top: 2px;'} &nbsp; TRANSLATION (#{language.full_name})
      #title-translation-container.clearfix
        -if translation.new_record?
          - if current_user && current_user.manager_or_editor?(language.id)
            = render 'glossary_title_translations/form', language: language, glossary_title: item, glossary_title_translation: translation
          - else
            .col-xs-12
              Term not yet translated.
              %br/
              If you'd like to propose translation, please use Comments section below.
        - else
          = render 'translation', language: language, item: item, translation: translation

    - unless item.is_private?
      - translations = item.glossary_title_translations.except_language(language.id).includes([:language]).sort{|x,y| x.language.iso_code <=> y.language.iso_code}
      - unless translations.empty?
        %h5= language.is_base_language? ? 'TRANSLATIONS' : 'OTHER TRANSLATIONS'
        %table.table.table-striped.table-bordered
          %tbody
            - translations.each do |translation|
              %tr
                %th= translation.language.english_name
                %td= link_to translation.term, language_glossary_title_path(translation.language_id, item), remote: request.xhr?
