%h2
  Sanskrit Statuses
  %span.badge #{@sanskrit_statuses.count}

  - if current_user.admin?
    .pull-right
      = render 'shared/add_new_button', url: new_admin_sanskrit_status_path, remote: true

- show_changes = current_user.admin?
%table.table.table-striped.table-bordered
  %thead
    %tr
      %th.text-center{width: 30} Code
      %th Name
      %th Description
      %th.text-center Default
      - if show_changes
        %th
  %tbody
    - @sanskrit_statuses.each do |sanskrit_status|
      %tr
        %td.text-center= sanskrit_status.code
        %td
          - if current_user.admin?
            = link_to sanskrit_status.name, edit_admin_sanskrit_status_path(sanskrit_status), remote: true
          - else
            = sanskrit_status.name
        %td= sanskrit_status.description
        %td.text-center
          - if sanskrit_status.is_default
            %i.fa.fa-check
        - if show_changes
          %td
            = render 'shared/changes_url', url: changes_admin_sanskrit_status_path(sanskrit_status)
