- can_edit_language_glossary = manager_or_editor_language_ids.include?(item.language_id)
- has_delete_link = !request.xhr? && can_edit_language_glossary && item.has_no_transaltion?
%table.table.table-striped.table-bordered{style: "table-layout:fixed;width:100%;"}
  %tbody
    %tr
      %th.col-xs-4
        = render 'shared/term_marks', language: language, term: item
        Term
      %td{style: bottom_link_style_helper(has_delete_link)}
        = link_to item.term, language_glossary_term_path(item.language, item), remote: request.xhr?
        - if item.glossary_term_id.present?
          %br/
          %br/
          - glossary_term = item.glossary_term
          See:
          = link_to glossary_term.term, language_glossary_term_path(glossary_term.language, glossary_term), remote: request.xhr?

        - glossary_terms = item.glossary_terms
        - unless glossary_terms.empty?
          %br/
          %br/
          Referenced by:
          - glossary_terms.each do |glossary_term|
            %br/
            = link_to glossary_term.term, language_glossary_term_path(glossary_term.language_id, glossary_term), remote: request.xhr?
            %small (#{glossary_term.reference_type.name})

        - if has_delete_link
          .div{style: 'position: absolute; bottom: 0; right: 8px;'}
            = link_to language_glossary_term_path(language, item), method: :delete, class: 'text-muted delete_link', data: {confirm: 'Are you sure you want delete this term?'} do
              %small
                %i.fa.fa-times-circle
                delete term
    %tr
      %th Tibetan
      %td
        = item.tibetan
        - if item.alternative_tibetan.present?
          %br/
          Alternative: #{item.alternative_tibetan}
    %tr
      %th Sanskrit
      %td
        = item.sanskrit
        .pull-right= gender_helper(item.sanskrit_gender)

        - if item.alternative_sanskrit.present?
          %br/
          Alternative: #{item.alternative_sanskrit}
    %tr
      %th Pali
      %td
        = item.pali
        .pull-right= gender_helper(item.pali_gender)

    %tr
      %th Definition
      %td= item.definition

    - if current_user
      %tr
        %th Explanation
        %td{style: 'overflow:hidden;'}
          - if request.xhr?
            %bdi= truncate(item.additional_explanation, length: 250, omission: ' ... (more)')
          - else
            %bdi= simple_format(item.additional_explanation, {}, sanitize: true)

- if can_edit_language_glossary
  %h4.title STATUS
  %table.table.table-striped.table-bordered
    %tbody
      %tr
        %th General
        %td
          = item.general_status.name
      %tr
        %th Integration
        %td
          = item.integration_status.name
      %tr
        %th Reference
        %td
          = item.reference_type.name
      %tr
        %th Sanskrit / Tibetan
        %td
          = item.sanskrit_status.name

- if !request.xhr?
  = render 'shared/term_alerts', language: language, term: item
