%h2
  = link_to language_glossary_term_path(@language, @glossary_term) do
    %i.fa.fa-angle-left
    = @glossary_term.term

.panel.panel-default
  .panel-body
    = render 'shared/term_alerts', language: @language, term: @glossary_term

    = form_for [@language, @glossary_term], html: {class: 'form-horizontal'} do |f|
      %fieldset.col-sm-6.col-xs-12
        %h4 #{@glossary_term.language.english_name} Term
        .well
          -# IF user can edit term
          = render 'term_form', f: f, glossary_term: @glossary_term, language: @language

      %fieldset.col-sm-6.col-xs-12
        %h4 #{@language.english_name} Translation
        .well
          = render 'translation_form', f: f, glossary_term: @glossary_term, language: @language
