%h3
  Users
  %span.badge #{@users.count}

  .pull-right
    = render 'shared/add_new_button', url: new_admin_user_path, remote: false

%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Name
      %th Email
      %th # Teams
      %th Last seen
  %tbody
    - @users.each do |user|
      %tr
        %td
          - if user.admin?
            %i.fa.fa-graduation-cap{title: 'Site Administrator'}
          = link_to user.name, admin_user_path(user)
        %td= user.email
        %td
          = link_to user.teams_count, admin_user_path(user)
        %td
          = time_ago(user.last_request_at)

