%h3
  Found
  %span.badge #{@users.count}

  .pull-right
    = render 'shared/add_new_button', url: new_admin_user_path, remote: false

%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Name
      %th Team(s)
      %th Last seen
      %th Paid
  %tbody
    - @users.each do |user|
      %tr
        %td
          - if user.admin?
            %i.fa.fa-graduation-cap{title: 'Site Administrator'}
          = link_to user.name, admin_user_path(user)
        %td
          - teams_count = user.teams_count
          - if teams_count == 1
            - language = user.languages.first
            = link_to language.english_name, admin_language_path(language)
            (#{user.language_users.first.role.humanize})
          - elsif teams_count == 0
            = '-'
          - else
            = link_to "#{teams_count} teams", admin_user_path(user)
            (#{user.language_users.pluck(:role).uniq.map(&:to_s).map(&:humanize).join(', ')})
        %td= time_ago(user.last_request_at)
        %td #{'Paid' if user.paid?}

