- content_for :breadcrumb do
  %ol.breadcrumb
    %li= link_to_empty 'Team Management'
    %li= link_to 'Users', admin_users_path
    %li= link_to 'Add New User Account', new_admin_user_path

%h3 New User

%ul.nav.nav-tabs
  = tab_for 'details' do
    = link_to 'Details', new_admin_user_path

#language_content.tab-content
  = render "admin/users/tabs/#{@tab}", user: @user
