%h3
  = link_to admin_users_path do
    %i.fa.fa-angle-left
    New User

%ul.nav.nav-tabs
  = tab_for 'details' do
    = link_to 'Details', new_admin_user_path

#language_content.tab-content
  = render "admin/users/tabs/#{@tab}", user: @user
