%h3
  = link_to admin_users_path do
    %i.fa.fa-angle-left
    = @user.name

  = link_to edit_admin_user_path(@user), class: 'pull-right btn btn-primary btn-sm' do
    %i.fa.fa-edit
    Edit

.panel.panel-default
  .panel-body
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th First Name
          %th Last Name
          %th Email
          %th Last seen
      %tbody
        %tr
          %td
            - if @user.admin?
              %i.fa.fa-graduation-cap{title: 'Site Administrator'}
            = @user.first_name
          %td= @user.last_name
          %td= @user.email
          %td
            = time_ago(@user.last_request_at)
            - if current_user.admin?
              = render 'shared/changes_url', url: changes_admin_user_path(@user)

    - if @user.about.present?
      .row
        %h3.col-xs-12 About
        %p.col-xs-12= @user.about

    .row
      %h3.col-xs-12 Teams

      - show_links = current_user.admin? || current_user.manager?
      - LanguageUser::ROLES.each do |role|
        .col-sm-4.col-xs-12
          - languages = user_languages_sorted(@user, role)
          %h4 #{role.to_s.upcase}
          - languages.each do |language_user|
            %p
              - if show_links
                = link_to(language_user.language.english_name, admin_language_path(language_user.language_id))
              - else
                = language_user.language.english_name
          - if languages.empty?
            %p= '-'

    - open_tasks = @user.general_menu_actions.open.list_order.includes([:language, :task, :general_menu])
    - if open_tasks.count > 0
      %h3
        Tasks in Progress
        %span.badge= open_tasks.count

      %table.table.table-striped.table-bordered
        %thead
          %tr
            %th Task
            %th Started
            %th Team
            %th Article
        %tbody
          - open_tasks.each do |task|
            %tr
              %td= task.task.title
              %td= task.start_date
              %td= link_to task.language.english_name, admin_language_path(task.language_id)
              %td= link_to task.general_menu.name, language_general_menu_path(task.language_id, task.general_menu_id)
