%h3
  = link_to admin_users_path do
    %i.fa.fa-angle-left
    = @user.name

  = link_to edit_admin_user_path(@user), class: 'pull-right btn btn-primary btn-sm' do
    %i.fa.fa-edit
    Edit

.panel.panel-default
  .panel-body
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th First Name
          %th Last Name
          %th Email
          %th Last seen
      %tbody
        %tr
          %td
            - if @user.admin?
              %i.fa.fa-graduation-cap{title: 'Site Administrator'}
            = @user.first_name
          %td= @user.last_name
          %td= @user.email
          %td
            = time_ago(@user.last_request_at)
            - if current_user.admin?
              = render 'shared/changes_url', url: changes_admin_user_path(@user)

    - if @user.about.present?
      .row
        %h3.col-xs-12 About
        %p.col-xs-12= @user.about
    .row
      %h3.col-xs-12
        Teams
        %span.badge= @user.languages.count

      - show_links = current_user.admin? || current_user.manager?
      - LanguageUser::ROLES.each do |role|
        .col-sm-4.col-xs-12
          - languages = user_languages_sorted(@user, role)
          %h4 #{role.to_s.upcase}
          - languages.each_with_index do |language_user, idx|
            %p
              - if show_links
                = link_to language_user.language.full_name, admin_language_path(language_user.language_id)
              - else
                = language_user.language.full_name
          - if languages.empty?
            %p= '-'
