.modal-header
  %button{:type => 'button', 'data-dismiss' => 'modal', :class => 'close', 'aria-hidden' => true}= '&times;'.html_safe
  %h4
    = @general_menu_action.new_record? ? 'Add task for' : 'Edit task for'
    = link_to @general_menu.name, show_glossary_term_url_helper(@language, @general_menu)
.modal-body
  .row
    .col-xs-12
      = form_for [@language, @general_menu, @general_menu_action], html: {class: 'form-horizontal',remote: true} do |f|
        .alert.alert-danger.hide
        %fieldset.well.special-border
          = hidden_field_tag :show_tasks, @show_tasks

          .form-group.row
            .col-sm-4
              %label.control-label Task
              = f.select :task_id, tasks_options_helper(@general_menu.item_type_name, @general_menu_action.task_id), {}, {class: 'form-control', style: 'width:100%', autocomplete: 'off', required: true}
            .col-sm-4
              %label.control-label Started
              = f.text_field :start_date, class: 'form-control edit_date', autocomplete: 'off', placeholder: 'YYYY-MM-DD', data: {:'date-format' => "yyyy-mm-dd"}, required: true
            .col-sm-4
              %label.control-label Finished
              = f.text_field :end_date, class: 'form-control edit_date', autocomplete: 'off', placeholder: 'YYYY-MM-DD', data: {:'date-format' => "yyyy-mm-dd"}

          .form-group.row
            .col-sm-12
              %label.control-label Assigned to
            .col-sm-6
              = f.select :user_id, user_options_helper(@language, @general_menu_action.user_id), {include_blank: 'Choose from the list'}, {class: 'form-control', style: 'width:100%', autocomplete: 'off'}
            .col-sm-6
              = f.text_field :name, class: 'form-control', autocomplete: 'off', placeholder: 'or Enter Name if not found in the list', style: 'width:100%', autocomplete: 'off'

          .form-group.row
            .col-sm-12.text-right
              = f.submit 'Save task', class: 'btn btn-primary btn-sm'
  - if @show_tasks
    .row
      .col-xs-12
        = render 'general_menu_actions/list', language: @language, item: @general_menu, new_action: @general_menu_action.new_record?

:javascript
  $(function() {
    $('.edit_date').datepicker({weekStart: 1}).on('changeDate', function(ev){
      $('.edit_date').datepicker('hide');
    });
  });
