- manager = manager_language_ids.include?(language.id)
- if manager && !new_action
  .pull-right
    = render 'shared/add_new_button', url: new_language_general_menu_general_menu_action_path(language, item, show_tasks: true), remote: true, title: 'Add task'

%h4.title
  TASKS
  %small.text-primary (#{language.full_name})

- tasks = item.general_menu_actions.by_language(language.id).includes([:user, :task]).list_order
- if tasks.empty?
  no tasks
- else
  %table.table.table-striped.table-bordered
    %thead
      %tr.active
        %td Who
        %td Started
        %td Finished
        %td What
        - if !request.xhr? && manager
          %th.text-center{width: 30}
    %tbody
      - tasks.each do |task|
        %tr
          %td
            - if task.user_id?
              = task.user.name
            - else
              = task.name
          %td= task.start_date
          %td= task.end_date
          %td
            - if manager
              = link_to task.task.title, edit_language_general_menu_general_menu_action_path(language, item, task, show_tasks: true), remote: true
            - else
              = task.task.title
            - if manager
              %small.pull-right
                = link_to language_general_menu_general_menu_action_path(language, item, task), method: :delete, class: 'text-muted delete_link', remote: true, data: {confirm: 'Are you sure?'} do
                  %i.fa.fa-times-circle

          - if !request.xhr? && manager
            %td
              = render 'shared/changes_url', url: changes_language_general_menu_general_menu_action_path(language, item, task)
