!!!
%head{:lang => 'en'}
  %meta{:charset => 'utf-8'}

  %title= page_title

  %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0'}
  %meta{:name => 'apple-mobile-web-app-capable', :content => 'yes'}
  = csrf_meta_tags

  = stylesheet_link_tag 'application', media: 'all'
  = stylesheet_link_tag '//ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css'
  = yield :css

  = javascript_include_tag 'application'
  = yield :js

%body{class: controller_name}
  .navbar.navbar-default.navbar-fixed-top
    .container-fluid
      .navbar-header
        = link_to 'Team Glossary', root_path, class: 'navbar-brand'
        %button.navbar-toggle{data: {target: '#navbar-main', toggle: 'collapse', type: 'button'}}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar

      #navbar-main.navbar-collapse.collapse
        %ul.nav.navbar-nav.navbar-right
          - if current_user
            -# %li
            -#   = link_to help_articles_path do
            -#     %i.fa.fa-question-circle
            -#     Help

            - if current_user.admin? || current_user.manager?
              %li
                = link_to works_path do
                  %i.fa.fa-dashboard
                  Work in Progress

            %li.dropdown
              = link_to('javascript:void(0);', class: 'dropdown-toggle', data: {toggle: 'dropdown'}) do
                - if current_user.admin?
                  %i.fa.fa-graduation-cap
                = current_user.name
                %b.caret
              %ul.dropdown-menu
                %li= link_to 'Profile', admin_user_path(current_user)
                - if current_user.admin? || current_user.manager?
                  %li= link_to 'Settings', admin_settings_path
                  %li= link_to 'Import', admin_imports_path
                %li.divider
                %li= link_to 'Log Out', logout_path, :method => :delete
          - else
            %li= link_to 'Log In', login_path


  .container-fluid
    %noscript
      .alert.alert-danger
        %h4.alert-heading Warning!
        You don't have Javascript enabled. Please enable Javascript to use this site.

    .container-fluid
      .row
        .col-sm-12
          #container_script_enabled{:style => 'display:none;'}
            - unless Rails.env.production?
              .alert.text-center
                NOTE: this is #{Rails.env} version of application for testing purposes only.

            = render 'shared/error'
            = render 'shared/notice'
            = yield :page_buttons
            = yield :page_title
            = yield

    #modal.modal.fade
      .modal-dialog.modal-lg
        .modal-content#modal-content

:javascript
  $(function(){
    $('#container_script_enabled').show();
  });
