!!!
%head{:lang => 'en'}
  %meta{:charset => 'utf-8'}

  %title= page_title

  %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0'}
  %meta{:name => 'apple-mobile-web-app-capable', :content => 'yes'}
  = csrf_meta_tags

  = stylesheet_link_tag 'application', media: 'all'
  = stylesheet_link_tag '//ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css'
  = yield :css

  = javascript_include_tag 'application'
  = yield :js

%body.login
  .navbar.navbar-fixed-top.navbar-default
    .container
      .navbar-header
        = link_to 'Glossary', root_path, :class => 'navbar-brand'
  .container
    %noscript
      .alert.alert-danger
        %h4.alert-heading Warning!
        You don't have Javascript enabled. Please enable Javascript to use this site.

    .container-fluid
      .row
        .col-sm-12
          #container_script_enabled{:style => 'display:none;'}
            = render 'shared/error'
            = render 'shared/notice'
            .content.text-center
              .row
                .col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2
                  = yield
  .footer
    .container-fluid
      &copy; #{Time.zone.now.year} The Berzin Archives
:javascript
  $(function(){
    $('#container_script_enabled').show();
  });
